body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-area {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    color: black;
    background-color: blue;
    display: inline-flex;
    justify-content: center;
}
form{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
}

.inputs{
    margin-top: 10px;
    size: A4;
}
button{
    margin-top: 10px;
    color: black;
}
.footer {
    position: sticky;
    top: 100vh;
}