<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="commentExist=${comment.id ne null}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title th:text="#{lt.codeacademy.blog.container.title}"></title>
</head>
<body>
<nav th:replace="fragments/fragments :: navBar"></nav>
<div class="container">
    <h3 th:if="${commentExist}" th:text="#{lt.codeacademy.blog.comment.update}"></h3>
    <h3 th:if="${not commentExist}" th:text="#{lt.codeacademy.blog.comment.create}"></h3>
    <form method="post" th:object="${comment}" th:action="@{/comments/{id}/save(id=${content.id})}">
        <div class="album py-5 bg-light">
            <div th:replace="fragments/fragments :: inputWitherrorHandler('floatingTextareaComment', 'comment', ${comment.comment ne null}, #{lt.codeacademy.blog.add.comment}, 'text', false)"></div>
            <div class="d-flex justify-content-end">
                <button type="submit"
                th:if="${commentExist}" th:text="#{lt.codeacademy.blog.comment.update}"></button>
                <button type="submit"
                th:if="${not commentExist}" th:text="#{lt.codeacademy.blog.comment.create}"></button>
            </div>
        </div>
    </form>
</div>
</body>
<footer th:replace="fragments/fragments :: footer"></footer>
</html>