<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title th:text="#{lt.codeacademy.blog.container.title}"></title>
    <link th:href="@{/css/container.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="fragments/fragments :: navBar"></nav>
<div class="album py-5 bg-light">
    <div th:replace="fragments/fragments :: notification(${not contentByPage.hasContent()}, 'alert-info', #{lt.codeacademy.blog.content.message.empty.content})"></div>
    <div class="container"
         th:if="${contentByPage.hasContent()}">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col"
                 th:each="content : ${contentByPage.content}">

                <div class="card shadow-sm">
                    <img th:src="${content.picURL}">
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></src>
                    <div class="card-body">
                        <p class="card-text"
                           th:text="${content.pic_Comment}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a th:href="@{/public/content/{id}(id=${content.id})}"
                                       th:text="#{lt.codeacademy.blog.content.buttton}"></a>
                                </button>
                            </div>
                            <small class="text-muted">
                                <span th:text="${content.date}"></span>
                                <a sec:authorize="hasRole('ADMIN')"
                                   th:href="@{/content/{id}/delete(id=${content.id})}" class="text-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="fragments/fragments :: footer"></footer>
</html>