<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div class="users">
    <div th:if="${not usersInPage.hasContent()}"
         class="alert alert-info" role="alert">
        Product list is empty!
    </div>
    <div th:if="${usersInPage.hasContent()}">
        <table class="table table-dark table-hover">
            <thead class="table-header">
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Role</th>
            <th>Age</th>
            <th>Register date</th>
            </thead>
            <tbody>
            <tr th:each="user : ${usersInPage.content}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.registerDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>